ESB/msg2activiti/src/main/app/muletest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/current/mule-imaps.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
    <flow name="muletestFlow1" doc:name="muletestFlow1">
        <http:inbound-endpoint exchange-pattern="one-way" host="localhost" port="8088" path="connection" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Java HashMap"/>
        <set-variable variableName="activitiExecID" value="#[payload.get(&quot;activitiExecID&quot;)]" doc:name="Set activitiExecID var"/>
        <set-variable variableName="msg" value="#[payload.get(&quot;msg&quot;)]" doc:name="Set msg var"/>
        <set-variable variableName="mail" value="#[payload.get(&quot;mail&quot;)]" doc:name="Set mail var"/>
        <scripting:component doc:name="Simulate Python proc" doc:description="Simulate a short python processing.">
            <scripting:script engine="jython"><![CDATA[import time

print "!!! Activiti message received: " + msg
print "!!!   from process istance with ID: "+ payload.get('activitiExecID')
print "!!!   initiated by: " + payload.get('initiator')
print "... Now Executing long process on received data .....\n ......"
print msg
msg = msg * 2
print msg
time.sleep(10)			#simulate 5 sec processing
print "!!! PROCESS DONE !!!"
print "!!! Now Sending notification email."

result = payload		#forward inbound payload]]></scripting:script>
        </scripting:component>
        <set-payload value="{ &quot;activitiExecID&quot;:&quot;#[activitiExecID]&quot;, &quot;msg&quot;:&quot;#[msg]&quot; }" doc:name="set mail Subject"/>

        <set-variable variableName="mailSubj" value="#[payload]" doc:name="set mailSubj var"/>
        <logger message="Inbound message content: #[message]" level="INFO" doc:name="Full Inbound Message viewer" doc:description="Mostra il contenuto dell'inbound message ricevuto dall'endpoint HTTP iniziale. I dati di interesse sono contenuti all'interno della propriet&#224;: #[message.payload]"/>
        <set-payload value="Mule Operation Completed! Reply to this mail to continue (DO NOT EDIT THE SUBJECT!)." doc:name="Set mail body"/>
        <smtp:outbound-endpoint host="smtp.planetek.it" to="#[mail]" from="pklinee@planetek.it" subject="#[mailSubj]" replyTo="pklinee@planetek.it" responseTimeout="10000" doc:name="SMTP" mimeType="text/plain"/>

    </flow>
</mule>
