ESB/sentinelClient/src/main/app/queryablesstorer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="queryablesStorerFlow1" doc:name="queryablesStorerFlow1" processingStrategy="asynchronous">
        <logger level="INFO" doc:name="CALLED queryableStorer" message="CALLED queryableStorer: #[message]"/>
        <foreach collection="filesQryableMap.entrySet()" doc:name="For Each in filesQryableMap">
            <logger message="forEach: #[payload.key] = #[payload.value]" level="INFO" doc:name="forEach log"/>
            <set-variable variableName="qryableMap" value="#[payload.value]" doc:name="set qryableMap"/>
            <http:outbound-endpoint exchange-pattern="request-response" host="${apollo.host}" port="${apollo.port}" path="erdas-apollo/content/catalog/items.json?q=#[payload.key]&amp;maxresults=1&amp;orderBy=registrationDate%20desc" method="GET" connector-ref="NoMuleHeadersConnector" user="${apollo.usr}" password="${apollo.pwd}" doc:name="Search Catalog by Name (payload.key)"/>
            <object-to-string-transformer doc:name="Object to String"/>
            <logger message="Search resp: #[message] #['\n']body: #[payload]" level="DEBUG" doc:name="Search by name and get ID"/>
            <set-variable variableName="datasetID" value="#[json:results[0]/id]" doc:name="set datasetID"/>
            <logger message="Search for response, datasetID: #[datasetID]" level="INFO" doc:name="datasetID"/>
            <foreach collection="qryableMap.entrySet()" doc:name="For Each in qryableMap">
                <set-variable variableName="qryableName" value="#[payload.key]" doc:name="set qryableName"/>
                <logger message="Saving #[qryableName] = #[payload.value]" level="INFO" doc:name="Queryable storing"/>
                <set-payload value="value=#[payload.value]" doc:name="Set Req Body"/>
                <http:outbound-endpoint exchange-pattern="request-response" host="${apollo.host}" port="${apollo.port}" path="erdas-apollo/content/catalog/items/#[datasetID]/#[qryableName]" method="POST" connector-ref="NoMuleHeadersConnector" user="${apollo.usr}" password="${apollo.pwd}" contentType="application/x-www-form-urlencoded" doc:name="update qryables for this dataset"/>
                <object-to-string-transformer doc:name="Object to String"/>
                <logger message="Updating #[qryableName]: #[message] #['\n']body: #[payload]" level="DEBUG" doc:name="Queryable storing response"/>
            </foreach>
        </foreach>
        
        
    </flow>
</mule>
