ESB/sentinelClient/src/main/app/sentinelMainDownloadChangeDetection.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:https="http://www.mulesoft.org/schema/mule/https"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:context="http://www.springframework.org/schema/context"
	version="CE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<flow name="sentinelDownloadChangeDetectionFlow1" doc:name="sentinelDownloadChangeDetectionFlow1" doc:description="SLC 1.7gb
{
&quot;UUID&quot;:&quot;3016488c-721f-451a-b2a0-2a8602334ee2&quot;
}

GRD 130mb
{
&quot;UUID&quot;:&quot;f40e9bac-7046-42a5-aaff-4690aaf1bd60&quot;
}" processingStrategy="synchronous">
        <http:inbound-endpoint exchange-pattern="request-response" host="0.0.0.0" port="9090" path="changedetection" doc:name="HTTP" />
        <set-variable variableName="dlUUID" value="#[json:UUID]" doc:name="dlUUID var"/>
        <object-to-string-transformer doc:name="workaround for streams error" doc:description="https://www.mulesoft.org/jira/browse/MULE-4096
https://mulemuse.wordpress.com/2014/03/21/http/"/>

        <set-payload value="Download Request received." doc:name="Set Body"/>        <http:response-builder status="200" contentType="text/plain" doc:name="HTTP Response Builder">
            <http:cache-control noCache="true"/>
        </http:response-builder>
        <async doc:name="Async" processingStrategy="Queued_Asynchronous_Processing_Strategy">
            <logger message="GET Request to: https://${sentinel.host}:${sentinel.port}${sentinel.path.odata}('#[dlUUID]')/$value" level="INFO" doc:name="Request URL"/>
            <https:outbound-endpoint exchange-pattern="request-response" host="${sentinel.host}" port="${sentinel.port}" path="${sentinel.path.odata}('#[dlUUID]')/$value" method="GET" user="${sentinel.usr}" password="${sentinel.pwd}" doc:name="HTTP" responseTimeout="30000"/>
            <logger message="DataHub HTTP resp: #[message]" level="INFO" doc:name="HTTP response"/>
            <scripting:component doc:name="HTTP status check">
                <scripting:script engine="Groovy"><![CDATA[httpStatus = message.getInboundProperty('http.status');
if(httpStatus != "200")
	throw new org.apache.commons.httpclient.HttpException("Sentinel DataHub returned an HTTP error code: "+httpStatus)
return payload]]></scripting:script>
            </scripting:component>
            <set-variable variableName="testPrefix" value="#[server.dateTime.format('mmssS_')]" doc:name="TEST: testPrefix"/>
            <set-variable variableName="zipName" value="#[message.inboundProperties['Content-Disposition'].split('&quot;')[1]]" doc:name="var zipName"/>
            <set-variable variableName="filesQryableMap" value="#[new java.util.HashMap()]" doc:name="set filesQryableMap"/>
            <component class="org.mule.transformers.unZipComponent" doc:name="unzip"/>
            <foreach doc:name="For Each">
                <set-variable variableName="xtractedFilePath" value="#[payload]" doc:name="set xtractedFilePath"/>
                <set-variable variableName="xtractedFileName" value="#[new File(xtractedFilePath).getName()]" doc:name="set xtractedFileName"/>
                <set-payload value="#[new FileInputStream(xtractedFilePath)]" doc:name="open xtractedFilePath as Stream"/>
                <choice doc:name="Choice">
                    <when expression="#[xtractedFileName.toLowerCase().endsWith(&quot;.xml&quot;)]">
                        <logger message="XML: #[xtractedFilePath] converting to ISO19139" level="INFO" doc:name="XML +conversion"/>
                        <set-variable doc:name="set xtractedFileId" value="#[xtractedFileName.substring(0, xtractedFileName.lastIndexOf('.'))]" variableName="xtractedFileId"/>

                        <flow-ref name="xmlTransformerFlow1" doc:name="XML transform Flow"/>
                        <logger message="Parsed Template Received!!!!!" level="INFO" doc:name="Logger"/>
                        <expression-component doc:name="save qryableMap in filesQryableMap"><![CDATA[filesQryableMap.put(xtractedFileId, qryableMap);]]></expression-component>

                    </when>
                    <when expression="#[xtractedFileName.toLowerCase().endsWith(&quot;.tiff&quot;)]">
                        <logger message="TIFF: #[xtractedFilePath]" level="INFO" doc:name="TIFF data"/>
                    </when>
                    <when expression="#[xtractedFileName.toLowerCase().endsWith(&quot;.zip&quot;)]">
                        <set-variable variableName="safeZipFile" value="${apollo.repo.path}${sentinel.ftp.path}#[dlUUID]/#[xtractedFileName]" doc:name="set safeZipFile"/>
                        <logger message="ZIP:  saved safeZipFile var to #[safeZipFile]" level="INFO" doc:name="ZIP safe archive"/>
                    </when>
                    <otherwise>
                        <logger message="Other file type: #[xtractedFilePath]" level="INFO" doc:name="Other file type"/>
                    </otherwise>
                </choice>
                <logger message="Moving #[xtractedFileName] to FTP" level="INFO" doc:name="move to FTP"/>

                <ftp:outbound-endpoint host="${ftp.host}" port="${ftp.port}" path="${sentinel.ftp.path}" user="${ftp.usr}" password="${ftp.pwd}" responseTimeout="10000" doc:name="FTP" outputPattern="#[dlUUID]/#[xtractedFileName]" connector-ref="createPathFtpConnector"/>
                <logger message="Deleting temp file #[xtractedFilePath]: #[new File(xtractedFilePath).delete()] " level="INFO" doc:name="Delete temp FILE"/>

            </foreach>
            <logger message="Deleting temp folder #[new File(xtractedFilePath).getParentFile()]: #[new File(xtractedFilePath).getParentFile().delete()]" level="INFO" doc:name="Delete temp DIR"/>
            <set-variable variableName="apolloCrawlrPath" value="${apollo.repo.path}${sentinel.ftp.path}#[dlUUID]/" doc:name="set apolloCrawlrPath"/>
            <set-variable variableName="apolloAggregateID" value="${sentinel.apollo.aggregate}" doc:name="set apolloAggregateID"/>
            <logger message="Call ApolloLoader on #[apolloCrawlrPath]" level="INFO" doc:name="Launch Apollo Crawler"/>
            <set-payload value="{ &quot;directory&quot;: &quot;#[apolloCrawlrPath]&quot;, &quot;aggregateId&quot;:&quot;#[apolloAggregateID]&quot; }" doc:name="Set ApolloLoader req  body"/>
            <flow-ref name="apolloLoaderFlow1" doc:name="launch apolloLoader"/>
            <logger message="Crawl Exit Status: #[payload]" level="INFO" doc:name="Crawl Exit Status"/>
            <choice doc:name="Choice">
                <when expression="#[payload == &quot;DONE&quot;]">
                    <logger message="Successful Crawl!!! #[&quot;\n&quot;] Now Python on #[safeZipFile]" level="INFO" doc:name="Successful Crawl"/>
                    <flow-ref name="queryablesStorerFlow1" doc:name="call queryablesStorer Flow"/>
                    <scripting:component doc:name="Call python proc">
                    <scripting:script engine="jython"><![CDATA[import xmlrpclib

proxy = xmlrpclib.ServerProxy("http://deimos.planetek.it:9091/")
print "Calling the server processor ..."

# "result" is the var that will be used as the payload
result = proxy.execute("mailalert", "tester", "change_detection", "processor", '{"INPUTSAR":"'+safeZipFile+'"}', "")
print result]]></scripting:script>
                    </scripting:component>
                    <logger message="Py Response: #[payload]" level="INFO" doc:name="Py Output"/>
                    <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to HashMap"/>
                    <set-variable variableName="crawlPath" value="#[org.apache.commons.lang.StringEscapeUtils.escapeJava(payload.get(&quot;outDir&quot;))]" doc:name="set crawlPath (escaped)"/>
                    <set-variable variableName="apolloAggregateID" value="${changedetection.apollo.aggregate}" doc:name="set apolloAggregateID"/>
                    <set-payload value="{ &quot;directory&quot;: &quot;#[crawlPath]&quot;, &quot;aggregateId&quot;:&quot;#[apolloAggregateID]&quot; }" doc:name="Set Crawler ReqBody"/>
                    <logger message="Crawler ReqBody: #[payload]" level="INFO" doc:name="Crawler ReqBody"/>
                    <flow-ref name="apolloLoaderFlow1" doc:name="Apollo Loader"/>
                    <logger message="Processor output Crawling ended with status: #[payload]" level="INFO" doc:name="Crawl exit status"/>
                </when>
                <otherwise>
                    <logger message="Unsuccessful crawl!!!" level="INFO" doc:name="Unsuccessful crawl"/>
                </otherwise>
            </choice>


        </async>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy doc:name="Catch HttpException" enableNotifications="false" when="#[exception.causedBy( org.apache.commons.httpclient.HttpException)]">
                <logger message="HttpException: #[exception.getCause().getMessage()]" level="WARN" doc:name="Log HttpException"/>
            </catch-exception-strategy>
            <catch-exception-strategy doc:name="Generic Exception Strategy" enableNotifications="false">
                <logger level="WARN" doc:name="Log Generic Exception" message="Generic Exception: #[exception.getCause().getMessage()]"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
