ESB/sentinelClient/src/main/app/xmlTransformer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

	<flow name="xmlTransformerFlow1" doc:name="xmlTransformerFlow1" processingStrategy="synchronous">
        <logger message="Called XMLTransformer flow" level="INFO" doc:name="START"/>
        <mulexml:xml-to-dom-transformer returnClass="org.w3c.dom.Document" doc:name="XML to DOM"/>
        <set-variable variableName="sentinelDom" value="#[payload]" doc:name="save XML to sentinelDom var"/>
        <set-variable variableName="qryableMap" value="#[new java.util.HashMap()]" doc:name="set qryableMap"/>

        <foreach collection="#[app.registry.sentinelProps]" doc:name="For Each sentinelProps">
            <choice doc:name="Choice">
                <when expression="#[key.startsWith(&quot;sentinel.metadata&quot;)]">
                    <logger message="Sentinel metadata xpath prop found: #[key] = #[payload]" level="INFO" doc:name="Sentinel.metadata prop"/>
                    <scripting:component doc:name="Props XPath evaluator">
                        <scripting:script engine="Groovy"><![CDATA[import org.apache.xpath.XPathAPI
import javax.xml.parsers.DocumentBuilderFactory

return XPathAPI.eval(sentinelDom, payload)]]></scripting:script>
                    </scripting:component>
                    <set-variable variableName="varName" value="#[key.replace(&quot;sentinel.metadata.&quot;,&quot;&quot;)]" doc:name="set varName"/>
                    <set-variable variableName="#[varName]" value="#[payload]" doc:name="set extracted value var"/>
                    <logger message="#[varName] value extracted: #[flowVars[varName]]" level="INFO" doc:name="XML extracted value"/>
                    <choice doc:name="Choice">
                        <when expression="#[app.registry.sentinelProps[&quot;apollo.queryable.&quot;+varName] != null]">
                            <logger message="Detected APOLLO Queryable: #[app.registry.sentinelProps[&quot;apollo.queryable.&quot;+varName]] = #[flowVars[varName]]" level="INFO" doc:name="Apollo Queryable"/>
                            <expression-component doc:name="add MD to qryableMap"><![CDATA[qryableMap.put(app.registry.sentinelProps["apollo.queryable."+varName], flowVars[varName]);]]></expression-component>
                        </when>
                        <otherwise>
                            <logger message="No corresponding queryable defined" level="INFO" doc:name="Not queryable"/>
                        </otherwise>
                    </choice>

                </when>
                <otherwise>
                    <logger message="Other prop found ( #[key] discarded)" level="DEBUG" doc:name="Other Prop (discard)"/>
                </otherwise>
            </choice>
        </foreach>
        <parse-template location="template_ISO19139.xml" doc:name="Parse ISO19139 Template"/>
        <logger message="Templated Parsed!" level="INFO" doc:name="DONE"/>

    </flow>
</mule>
