ESB/etl_sen2/src/main/app/SearchDownloadPagination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">


    <flow name="SearchDownloadPaginationFlow1" >
        <http:listener config-ref="entryPoint" path="/SearchDownloadPagination" doc:name="HTTP"/>
        <set-session-variable variableName="savePayload" value="#[payload]" doc:name="savePayload"/>
        <set-payload value="*** Search and Download are running !!!" doc:name="Status response"/>
        <async doc:name="Async">
            <set-payload value="#[savePayload]" doc:name="savePayload"/>
            <object-to-string-transformer doc:name="Object to String"/>
            <logger message="Checking new Sentinel acquisitions...  Payload is : #[payload]" level="INFO" doc:name="Checking acquisitions"/>
            <flow-ref name="sentinelMainSearchALTFlow1" doc:name="sentinelMainSearchALTFlow1"/>
            <set-variable variableName="resSize" value="#[json:feed/'opensearch:totalResults']" doc:name="Set resSize"/>
            <choice doc:name="Choice">
                <when expression="#[Integer.parseInt(resSize)  &gt; 0]">
                    <logger message="New Acquisitions Detected!!! (#[resSize] acquisitions)" level="INFO" doc:name="New Acquisition Detected!"/>
                    <set-variable variableName="GlobalVarOutput" value="#[new java.util.ArrayList()]" doc:name="GlobalVarOutput"/>
                    <flow-ref name="SearchDownloadPaginationFlow2" doc:name="SearchDownloadPaginationFlow2"/>
                </when>
                <otherwise>
                    <logger message="No new acquisitions for today... " level="INFO" doc:name="No new acquisitions"/>
                </otherwise>
            </choice>
        </async>

    </flow>
    <flow name="SearchDownloadPaginationFlow2" >
        <logger message="*****************ENTER LOOP***********************" level="INFO" doc:name="enter loop"/>
        <set-variable variableName="next" value="#[json:feed/link[2]/rel]" doc:name="First Link Name"/>
        <set-variable variableName="next2" value="#[json:feed/link[3]/rel]" doc:name="Second Link Name"/>
        <logger message="********************************** #[next] #[next2]" level="INFO" doc:name="Links Name"/>
        <choice doc:name="Choice">
            <when expression="#[next.equals('next') || next2.equals('next')]">
                <choice doc:name="Choice">
                    <when expression="#[next.equals('next')]">
                        <set-variable variableName="linkNext" value="#[json:feed/link[2]/href]" doc:name="First Link"/>
                    </when>
                    <otherwise>
                        <set-variable variableName="linkNext" value="#[json:feed/link[3]/href]" doc:name="Second Link"/>
                    </otherwise>
                </choice>
                <set-variable variableName="querystr" value="&quot;&quot;" doc:name="querystr"/>
                <expression-component doc:name="Parse Link String"><![CDATA[import java.net.URL;

URL aURL = new URL(linkNext.toString());
querystr=aURL.getQuery().substring(2).replaceAll(" ", "+")+"&format=json";]]></expression-component>
                <logger message="+++++++++++++++++++++++++#[querystr]" level="INFO" doc:name="Log Querystr"/>
                <logger message="Calling Download from Sentinel" level="INFO" doc:name="Download from Sentinel"/>
                <flow-ref name="sentinelDownloadFlow1" doc:name="sentinelDownloadFlow1"/>

                <json:json-to-object-transformer returnClass="java.util.ArrayList" doc:name="JSON to Object"/>
                <expression-component doc:name="Add Payload to GlobalVar"><![CDATA[GlobalVarOutput.addAll(payload);]]></expression-component>
                <logger message="Step completed... call next step" level="INFO" doc:name="Step Completed. Next Page Search"/>
                <until-successful maxRetries="${sentinel.search.retries}" millisBetweenRetries="${sentinel.search.timebetween.retries}" synchronous="true" doc:name="Until Successful">
                    <component class="org.mule.transformers.sentinelHTTPSearch" doc:name="sentinelHTTPSearch"/>
                </until-successful>

                <logger message="search next **********************************" level="INFO" doc:name="call flow loop"/>
                <flow-ref name="SearchDownloadPaginationFlow2" doc:name="SearchDownloadPaginationFlow2"/>
            </when>
            <otherwise>
                <logger message="Calling Download from Sentinel" level="INFO" doc:name="Download from Sentinel"/>
                <flow-ref name="sentinelDownloadFlow1" doc:name="sentinelDownloadFlow1"/>

                <json:json-to-object-transformer doc:name="JSON to Object" returnClass="java.util.ArrayList"/>
                <expression-component doc:name="Add last payload to GlobalVar"><![CDATA[GlobalVarOutput.addAll(payload);]]></expression-component>

                <set-payload value="#[GlobalVarOutput]" doc:name="Set Payload as GlobalVar"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <scripting:component doc:name="Pretty Json">
                    <scripting:script engine="Groovy"><![CDATA[import static groovy.json.JsonOutput.*;
return prettyPrint(payload);]]></scripting:script>
                </scripting:component>
                <logger message="*** Process terminated. Call Orchestrator ***" level="INFO" doc:name="Flow end"/>


            </otherwise>
        </choice>
    </flow>
</mule>
