ESB/etl_modis/src/main/app/etl_modis.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd">

	<spring:beans>
		<context:property-placeholder location="classpath:etl_modis${mule.env:#{null}}.properties" system-properties-mode="OVERRIDE" />
		<spring:bean id="modisProps"
			class="org.springframework.beans.factory.config.PropertiesFactoryBean">
			<spring:property name="singleton" value="true" />
			<spring:property name="location" value="classpath:etl_modis${mule.env:#{null}}.properties" />
		</spring:bean>
	</spring:beans>
	
    <http:listener-config name="HTTP_Listener_Modis" host="0.0.0.0" port="9096" basePath="modis" doc:name="HTTP Listener Configuration"/>
    
    <http:request-config name="HTTP_Request_ModisSearch" host="${modis.search.host}" port="${modis.search.port}" basePath="${modis.search.path}" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_ModisDownload" host="${modis.download.host}" port="${modis.download.port}" basePath="${modis.download.path}" doc:name="HTTP Request Configuration"/>
	<http:request-config name="HTTP_Request_Elasticsearch" host="${elastic.search.host}" port="${elastic.search.port}" basePath="${elastic.search.path}" doc:name="HTTP Request Configuration"/>
    
    <file:connector name="SyncronousFileConnector" validateConnections="true" doc:name="File">
    	<dispatcher-threading-profile doThreading="false"/>
    </file:connector>
    
    <flow name="etl_modisFlow1" >
        <quartz:inbound-endpoint jobName="ModisUpdates" repeatInterval="0" responseTimeout="10000" doc:name="EveryDay" cronExpression="0 00 03 ? * *">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        
        <logger message="Modis Connector Started." level="INFO" doc:name="Modis connector started"/>
        <object-to-string-transformer doc:name="Object to String"/>

        <set-variable variableName="qryString" value="#[new java.util.HashMap()]" doc:name="qryString"/>
        <foreach collection="#[app.registry.modisProps]" doc:name="For Each modisProps">
            <expression-filter expression="#[key.startsWith(&quot;modis.filter&quot;)]" doc:name="Filter modis.filter"/>
            <expression-filter expression="#[payload != &quot;&quot;]" doc:name="Filter qryValue not blank"/>
           <choice doc:name="Is it modis.filter.prm?">
               <when expression="#[key.equals(&quot;modis.filter.prm&quot;)]">
                   <set-variable variableName="prmList" value="#[payload]" doc:name="prmList"/>
               </when>
               <otherwise>
                   <set-variable variableName="qryField" value="#[key.replace(&quot;modis.filter.&quot;,&quot;&quot;)]" doc:name="qryField"/>
                   <logger message="Added modis query filter: #[qryField] = #[payload]" level="INFO" doc:name="Added modis query filter"/>
                    <expression-component doc:name="update qryString"><![CDATA[qryString.put(qryField, payload)]]></expression-component>
               </otherwise>
           </choice>

        </foreach>
        <expression-component doc:name="Add day field to queryString"><![CDATA[qryString.put( "day", new String(System.currentTimeMillis()/86400000-1) )]]></expression-component>
        <foreach collection="#[prmList.split(&quot;,&quot;)]" doc:name="For Each prm in prmList">
            <expression-component doc:name="Add prm to qryString"><![CDATA[qryString.put( "prm", payload )]]></expression-component>

            <logger message="Modis query string to http://${modis.search.host}:${modis.search.port}/${modis.search.path} : #[qryString] " level="INFO" doc:name="Modis query string"/>
            <until-successful maxRetries="10" millisBetweenRetries="300000" synchronous="true" doc:name="Until Successful">
                <http:request config-ref="HTTP_Request_ModisSearch" path="/" method="GET" doc:name="Search on Modis Browser (qryString)">
                    <http:request-builder>
                        <http:query-params expression="#[qryString]"/>
                    </http:request-builder>
                </http:request>
            </until-successful>


            <component class="it.planetek.rheticus.mule.components.ExtractModisProductsFromHtmlComponent" doc:name="Extract Products from HTML"/>
            <foreach doc:name="For Each product">
                <logger message="ForEach: #[payload] #[&quot;\n&quot;]Downloading http://${modis.download.host}:${modis.download.port}/${modis.download.path}#[payload] ..." level="INFO" doc:name="ForEach"/>
                <set-variable variableName="prodFilename" value="#[payload]" doc:name="prodFilename"/>
                <until-successful maxRetries="10" millisBetweenRetries="300000" synchronous="true" doc:name="Until Successful">
                    <http:request config-ref="HTTP_Request_ModisDownload" path="#[payload]" method="GET" doc:name="Download Modis Product"/>
                </until-successful>

                <file:outbound-endpoint path="${download.temp.dir}" outputPattern="#[prodFilename]" connector-ref="SyncronousFileConnector" responseTimeout="10000" doc:name="File"/>

                <component class="it.planetek.rheticus.mule.components.MODISMetadataReaderComponent" doc:name="MODIS Metadata Reader"/>
                <set-variable variableName="platform" value="#[payload.get(&quot;platform&quot;)]" doc:name="Set platform as MODIS data type"/>
                <set-variable variableName="product_name" value="#[payload.get(&quot;product_name&quot;)]" doc:name="Set product_name as MODIS product uuid"/>
                <json:object-to-json-transformer doc:name="HashMap to JSON"/>
                <logger message="Metadata in JSON: #[payload]" level="INFO" doc:name="Metadata in JSON"/>
                <http:request config-ref="HTTP_Request_Elasticsearch" path="#[platform]/#[product_name]" method="POST" doc:name="Ingestion in Elastic Search"/>
                <logger level="INFO" doc:name="Elastic Search return" message="Elastic search returned #[message.inboundProperties[&quot;http.status&quot;]]"/>
            </foreach>
        </foreach>

        <logger message="Modis Connector ended" level="INFO" doc:name="END"/>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy doc:name="Catch Exception Strategy">
                <logger message="!EXCEPTION!#[&quot;\n&quot;] - EXCEPTION TYPE: #[exception.getCauseException().getClass()] #[&quot;\n&quot;] - EXCEPTION MESSAGE: #[exception.getMessage()] #[&quot;\n&quot;] - EXCEPTION CAUSE: #[exception.getCauseException()] #[&quot;\n&quot;] - EXCEPTION ORIGINAL PAYLOAD: #[payload]" level="INFO" doc:name="!EXCEPTION!"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>

</mule>
