ESB/etl_modis/src/main/app/etl_modis.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd">

	<spring:beans>
		<context:property-placeholder location="classpath:etl_modis.properties" />
		<spring:bean id="modisProps"
			class="org.springframework.beans.factory.config.PropertiesFactoryBean">
			<spring:property name="singleton" value="true" />
			<spring:property name="location"
				value="classpath:etl_modis.properties" />
		</spring:bean>
		<!--
        <spring:bean id="objectStore" class="org.mule.util.store.SimpleMemoryObjectStore"/>
        -->
	</spring:beans>

    <!--
    <choice-exception-strategy name="Choice_Exception_Strategy">
        <catch-exception-strategy when="#[exception.causedBy(org.apache.commons.httpclient.HttpException)]" doc:name="Http Exception Strategy">
            <logger message="HttpException: #[exception.getCause().getMessage()]" level="ERROR" doc:name="Log Http"/>
            <set-payload value="&lt;HTML&gt;&lt;BODY&gt;ETL_MODIS ...ERROR!&lt;/BODY&gt;&lt;/HTML&gt;" doc:name="Set Payload"/>
            <http:response-builder status="500" contentType="text/plain" doc:name="HTTP Response Builder"/>
        </catch-exception-strategy>
        <catch-exception-strategy doc:name="Generic Exception Strategy">
            <logger message="Generic Exception: #[exception.getCause().getMessage()]" level="ERROR" doc:name="Log Generic"/>
            <set-payload value="&lt;HTML&gt;&lt;BODY&gt;ETL_MODIS ...ERROR!&lt;/BODY&gt;&lt;/HTML&gt;" doc:name="Set Payload"/>
            <http:response-builder status="500" contentType="text/plain" doc:name="HTTP Response Builder"/>
        </catch-exception-strategy>
        <catch-exception-strategy when="#[exception.causedBy(java.net.ConnectException)]" doc:name="Connect Exception Strategy">
            <logger message="ConnectException: #[exception.getCause().getMessage()]" level="ERROR" doc:name="Log Connect"/>
            <set-payload value="&lt;HTML&gt;&lt;BODY&gt;ETL_MODIS ...ERROR!&lt;/BODY&gt;&lt;/HTML&gt;" doc:name="Set Payload"/>
            <http:response-builder status="500" contentType="text/plain" doc:name="HTTP Response Builder"/>
        </catch-exception-strategy>
    </choice-exception-strategy>
    -->

	<!--
	<vm:endpoint name="dlqChannel" path="dlq" doc:name="VM"/>
    <http:endpoint exchange-pattern="one-way" host="localhost" port="9091" path="dlq" method="POST" name="DLQ_HTTP" doc:name="HTTP"/>
    -->

    <flow name="etl_modisFlow1" doc:name="etl_modisFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="0.0.0.0" port="9090" path="modis" doc:name="HTTP etl_modis" contentType="text/plain" mimeType="text/plain"/>
        <logger message="Modis Connector Started." level="INFO" doc:name="Modis connector started"/>
        <set-variable variableName="qryString" value="#[new String()]" doc:name="qryString"/>
        <foreach collection="#[app.registry.modisProps]" doc:name="For Each modisProps">
            <expression-filter expression="#[key.startsWith(&quot;modis.filter&quot;)]" doc:name="Filter modis.filter"/>
            <expression-filter expression="#[payload != &quot;&quot;]" doc:name="Filter qryValue not blank"/>
            <set-variable variableName="qryField" value="#[key.replace(&quot;modis.filter.&quot;,&quot;&quot;)]" doc:name="qryField"/>
            <logger message="Added modis query filter: #[qryField] = #[payload]" level="INFO" doc:name="Log query filter"/>
            <set-variable variableName="qryString" value="#[qryString +&quot;&amp;&quot;+qryField+&quot;=&quot;+payload]" doc:name="update qryString"/>
        </foreach>
        <logger message="http://${modis.search.host}:${modis.search.port}/${modis.search.path}#[qryString]" level="INFO" doc:name="Logger"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="${modis.search.host}" port="${modis.search.port}" path="${modis.search.path}#[qryString]" method="GET" doc:name="Search on Modis Browser"/>
        <component class="it.planetek.rheticus.mule.components.ExtractModisProductsFromHtmlComponent" doc:name="Extract Products from HTML"/>
        <foreach doc:name="For Each">
            <logger message="ForEach: #[payload] #[&quot;\n&quot;] Downloading http://${modis.download.host}:${modis.download.port}/${modis.download.path}#[payload]" level="INFO" doc:name="Logger"/>
            <set-variable variableName="prodFilename" value="#[payload]" doc:name="prodFilename"/>
            <http:outbound-endpoint exchange-pattern="request-response" host="${modis.download.host}" port="${modis.download.port}" path="${modis.download.path}#[payload]" method="GET" mimeType="binary/octet-stream" contentType="binary/octet-stream" doc:name="Download Modis Product"/>
            <file:outbound-endpoint path="${download.temp.dir}" outputPattern="#[prodFilename]" responseTimeout="10000" doc:name="File"/>
            <logger message="Res: #[payload]" level="INFO" doc:name="Logger"/>
            <component class="it.planetek.rheticus.mule.components.MODISMetadataReaderComponent" doc:name="MODIS Metadata Reader"/>
            <set-variable variableName="platform" value="#[payload.get(&quot;platform&quot;)]" doc:name="Set platform as MODIS data type"/>
            <set-variable variableName="product_name" value="#[payload.get(&quot;product_name&quot;)]" doc:name="Set product_name as MODIS product uuid"/>
            <json:object-to-json-transformer doc:name="HashMap to GeoJSON"/>
            <logger message="Metadata in JSON: #[payload]" level="INFO" doc:name="Logger"/>

			<http:outbound-endpoint exchange-pattern="request-response" host="${elastic.search.host}" port="${elastic.search.port}" path="${elastic.search.path}#[platform]/#[product_name]" method="POST" doc:name="Ingestion in Elastic Search"/>
			<logger level="INFO" doc:name="Elastic Search Response"/>

			<!--
            <until-successful objectStore-ref="objectStore" maxRetries="3" secondsBetweenRetries="10" doc:name="Until Successful" failureExpression="#[exception != null &amp;&amp; (exception.causedBy(java.net.SocketException) || exception.causedBy(java.net.ConnectException) || exception.causedBy(java.net.SocketTimeoutException)) || message.inboundProperties['http.status'] != 200]" deadLetterQueue-ref="DLQ_HTTP">
                <processor-chain doc:name="Processor Chain">
                    <http:outbound-endpoint exchange-pattern="request-response" host="${elastic.search.host}" port="${elastic.search.port}" path="${elastic.search.path}#[platform]/#[product_name]" method="POST" doc:name="Ingestion in Elastic Search"/>
                    <logger level="INFO" doc:name="Elastic Search Response"/>
                </processor-chain>
            </until-successful>
            -->

        </foreach>
        <set-payload value="&lt;HTML&gt;&lt;BODY&gt;ETL_MODIS ... Elastic Search Ingestion COMPLETED!&lt;/BODY&gt;&lt;/HTML&gt;" doc:name="Set Payload"/>
        <http:response-builder status="200" contentType="text/html" doc:name="HTTP Response Builder"/>
    </flow>

	<!--
    <flow name="etl_modisFlow2" doc:name="etl_modisFlow2">
        <vm:inbound-endpoint exchange-pattern="one-way"  doc:name="dlqChannel" ref="dlqChannel"/>
        <logger message="ciao sono nicky" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="etl_modisFlow3" doc:name="etl_modisFlow3">
        <http:inbound-endpoint exchange-pattern="one-way" ref="DLQ_HTTP" doc:name="DLQ_HTTP"/>
        <logger message="nick in http" level="INFO" doc:name="Logger"/>
        <set-payload value="&lt;HTML&gt;&lt;BODY&gt;ETL_MODIS ...ERROR!&lt;/BODY&gt;&lt;/HTML&gt;" doc:name="Set Payload"/>
        <http:response-builder status="500" contentType="text/plain" doc:name="HTTP Response Builder"/>
    </flow>
    -->

</mule>
