ESB/floodflow/src/main/app/floodflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="floodProcFlow" doc:name="floodProcFlow">
        <http:inbound-endpoint exchange-pattern="one-way" host="0.0.0.0" port="9091" path="procFlood" doc:name="muleMaster request"/>
        <logger message="Flood Processing request received!" level="INFO" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Java HashMap"/>
        <set-variable variableName="args" value="#[payload]" doc:name="set args var"/>
        <scripting:component doc:name="Python processing" doc:description="Simulate a short python processing.">
            <scripting:script engine="jython" file="processingModule.py">
</scripting:script>
        </scripting:component>
        <set-payload value="{ &quot;output&quot;: #[payload], &quot;activitiExecID&quot;:&quot;#[args['activitiExecID']]&quot; }" doc:name="add activitiExecID to out"/>
        <set-variable variableName="out" value="#[payload]" doc:name="set out var"/>
        <logger message="Process Completed! Sending Signal to muleMaster ..." level="INFO" doc:name="Logger"/>
        <http:outbound-endpoint exchange-pattern="one-way" host="kim.planetek.it" port="9090" path="signal" method="POST" doc:name="muleMaster signal"/>

    </flow>
</mule>
