ESB/dp_ps/src/main/app/dp_ps_listener.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">


	
	<spring:beans>
		<spring:bean class="it.planetek.rheticus.ShapefileImporterServiceImpl"
			id="importer">
			<spring:property name="writer" ref="esWriter" />
		</spring:bean>

		<spring:bean class="it.planetek.rheticus.ElasticsearchJsonWriter"
			name="esWriter">
			<spring:property name="indexName" value="${elasticsearch.ps.index}" />
			<spring:property name="indexType" value="${elasticsearch.ps.type}" />

			<spring:property name="clientHost" value="${elasticsearch.host}" />
			<spring:property name="clientPort" value="${elasticsearch.transport.port}" />
		</spring:bean>
	</spring:beans>


	<flow name="dp_ps_listenerFlow1" >
		<file:inbound-endpoint responseTimeout="10000"
			doc:name="File" path="${ps.transfer.dir}" moveToDirectory="${ps.moveto.dir}">
			<file:filename-regex-filter pattern=".*\.dbf"
				caseSensitive="true" />
		</file:inbound-endpoint>
		<expression-component doc:name="Close ReleasingInputStream"><![CDATA[payload.close() ]]></expression-component>
		<logger message="Found new shapefile. #[&quot;\n&quot;] Msg: #[message]"
			level="INFO" doc:name="Found new shape" />
		<component class="it.planetek.rheticus.mule.components.ShapefileImporterComponent"
			doc:name="ShapefileImporter" />
	</flow>
</mule>
