ESB/dp_ps/src/main/app/dp_ps.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

	<context:property-placeholder location="classpath*:dp_ps${mule.env:#{null}}.properties"
		system-properties-mode="OVERRIDE" />
	<spring:beans>
		<spring:bean id="psProps"
			class="org.springframework.beans.factory.config.PropertiesFactoryBean">
			<spring:property name="singleton" value="true" />
			<spring:property name="location" value="classpath:dp_ps${mule.env:#{null}}.properties" />
		</spring:bean>
	</spring:beans>

	<http:listener-config name="HTTP_Listener_Configuration"
		host="${dp.ps.host}" port="${dp.ps.port}" basePath="${dp.ps.path}"
		doc:name="HTTP Listener Configuration" />
	<!--  "HTTP Request Elastisearch" declared in elasticSearchFlow -->
	<jms:activemq-connector name="Active_MQ"
		validateConnections="true" doc:name="Active MQ" brokerURL="tcp://127.0.0.1:61616" persistentDelivery="true"/>
	<db:generic-config name="Postgres_Database_Configuration" url="jdbc:postgresql://${db.host}:${db.port}/${db.name}?password=${db.password}&amp;user=${db.user}" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration"/>
    
    <!-- Add needed orchestrator properties to the JMS message to pass them to LogStash -->
    <message-properties-transformer name="Logstash-Properties" doc:name="Message Properties">
        <add-message-property key="orchestratorId" value="#[orchestratorId]"/>
        <add-message-property key="datasetId" value="#[datasetId]"/>
        <add-message-property key="timeToLive" value="${dp.ps.jms.timetolive}"/>
    </message-properties-transformer>
    <!-- Set specific JMS (and then Logstash) properties depending on the specific processing level -->
    <message-properties-transformer name="S0-Properties" doc:name="Message Properties">
    	<add-message-property key="step" value="S0"/>
    </message-properties-transformer>
    <message-properties-transformer name="S1-Properties" doc:name="Message Properties">
    	<add-message-property key="step" value="S1"/>
    </message-properties-transformer>
    <message-properties-transformer name="S2-Properties" doc:name="Message Properties">
    	<add-message-property key="step" value="S2"/>
    </message-properties-transformer>
    

	<flow name="dp_psFlow">
		<quartz:inbound-endpoint jobName="dpPsJob" repeatInterval="0" responseTimeout="10000" doc:name="Quartz" cronExpression="0 00 10 ? * WED">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <db:select config-ref="Postgres_Database_Configuration" doc:name="Distinct DatasetIds">
            <db:parameterized-query><![CDATA[SELECT distinct dataset_id, timestamp_last_acquisition_proc FROM deal_dataset;]]></db:parameterized-query>
        </db:select>

        <set-variable variableName="orbitalDate" value="#[server.dateTime.plusDays(-22)]" doc:name="orbitalDate"/>
        <foreach doc:name="For Each">
            <logger message="Deal SQL record: #[payload]" level="INFO" doc:name="New sql record"/>
            <set-variable variableName="datasetId" value="#[payload.get(&quot;dataset_id&quot;)]" doc:name="datasetId"/>
            <set-variable variableName="procDataLastDate" value="#[payload.get(&quot;timestamp_last_acquisition_proc&quot;)==null ? new org.mule.el.datetime.DateTime(&quot;1970-01-01&quot;) : new org.mule.el.datetime.DateTime(payload.get(&quot;timestamp_last_acquisition_proc&quot;)) ]" doc:name="procDataLastDate"/>
            <expression-filter expression="#[procDataLastDate.isBefore(orbitalDate)]" doc:name="procDataLastDate&lt;orbitalDate"/>

            <logger message="Found #[datasetId] with possible new acquisitions. Last updated on #[procDataLastDate.format()] and new orbitalDate: #[orbitalDate]" level="INFO" doc:name="Found dataset"/>
            <set-payload value="{&quot;esIndex&quot;:&quot;${elasticsearch.sentinel.index}&quot;,&quot;esType&quot;:&quot;${elasticsearch.sentinel.type}&quot;,&quot;esQuery&quot;:{&quot;query&quot;:{&quot;bool&quot;:{&quot;must&quot;:[{&quot;match&quot;:{&quot;datasetId&quot;:&quot;#[datasetId]&quot;}},{&quot;range&quot;:{&quot;ingestion&quot;:{&quot;gte&quot;:&quot;#[procDataLastDate]&quot;,&quot;lte&quot;:&quot;#[orbitalDate]&quot;}}}]}},&quot;sort&quot;:{&quot;ingestion&quot;:{&quot;order&quot;:&quot;desc&quot;}}}}" doc:name="Set ES flow request"/>
            <logger message="ES query for #[datasetId]: #[payload]" level="DEBUG" doc:name="ES query for dataset"/>
            <flow-ref name="elasticSearchFlow" doc:name="elasticSearchFlow"/>
            <expression-filter expression="#[payload.size()&gt;0]" doc:name="Check if any new data available"/>
            <set-variable variableName="procDataLastDate" value="#[new org.mule.el.datetime.DateTime(payload[0].get(&quot;ingestion&quot;)).plusMilliSeconds(1)]" doc:name="update procDataLastDate" doc:description="Date of the last ingested processed data "/>
            <logger message="New acquisitions found! New saved procDataLastDate: #[procDataLastDate]" level="INFO" doc:name="procDataLastDate"/>
            <logger message="Launching processing flow for dataset #[datasetId]" level="INFO" doc:name="Process Dataset"/>
			<flow-ref name="dp_ps_datasetFlow" doc:name="dp_ps_datasetFlow" />
            <db:update config-ref="Postgres_Database_Configuration" doc:name="Update Last proc timestamp">
                <db:parameterized-query><![CDATA[update deal_dataset set timestamp_last_acquisition_proc=#[procDataLastDate.format("yyyy-MM-dd HH:mm:ss.SSS")] where dataset_id=#[datasetId];]]></db:parameterized-query>

            </db:update>
        </foreach>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="exception.causedExactlyBy(org.mule.api.routing.filter.FilterUnacceptedException)" enableNotifications="false" doc:name="Catch JMS message-failed">
                <logger message="Processor failure from orchestratorId &quot;#[orchestratorId]&quot; for dataset &quot;#[datasetId]&quot;, cause: &quot;#[message.inboundProperties.'message_failed']&quot;" level="ERROR" doc:name="Processor failure from JMS"/>
                <logger level="DEBUG" doc:name="Full Message" message="Full message: #[message]"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="exception.causedExactlyBy(org.mule.api.routing.ResponseTimeoutException)" doc:name="Catch JMS reply timeout">
                <logger message="JMS reply timed out for request in &quot;#[message.outboundProperties['MULE_ENDPOINT']]&quot;  from orchestratorId &quot;#[orchestratorId]&quot; for dataset &quot;#[datasetId]&quot;" level="ERROR" doc:name="JMS Reply Timeout (managed by activeMQ DLQ)"/>
                <logger message="Full message: #[message]" level="DEBUG" doc:name="Full Message"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
	</flow>
	
	
	<sub-flow name="dp_ps_datasetFlow">
		<logger message="DATASETID: #[datasetId]" level="INFO"
			doc:name="Show datasetId" />
		<set-variable variableName="datasetDataArrayList" value="#[payload]"
			doc:name="save datasetDataArrayList" />
        <set-variable variableName="orchestratorId" value="#[java.util.UUID.randomUUID().toString().replaceAll(&quot;-&quot;, &quot;&quot;)]" doc:name="orchestratorId"/>
        <logger message="orchestratorId: #[orchestratorId]" level="INFO" doc:name="orchestratorId"/>

		<set-payload
			value="{  &quot;query&quot;: {    &quot;bool&quot;: {      &quot;must&quot;: [        { &quot;match&quot;: { &quot;datasetId&quot;:  &quot;#[datasetId]&quot; }},        { &quot;match&quot;: { &quot;superMaster&quot;: &quot;true&quot;   }}      ]    }  }}"
			doc:name="Query getsuperMaster" />
		<http:request config-ref="HTTP_Request_ES"
			path="${elasticsearch.sentinel.path}/_search" method="POST" doc:name="ElasticSearch" />
		<set-variable variableName="resSize" value="#[json:hits/total]"
			doc:name="resSize" />
		<choice doc:name="SuperMaster exists?">
			<when expression="#[resSize.equals('1') ]">
				<logger message="***********SuperMaster exist**************"
					level="INFO" doc:name="SuperMaster exist" />
				<set-variable variableName="superMasterId"
					value="#[json:hits/hits[0]/_source/uuid]" doc:name="superMasterId" />
			</when>
			<otherwise>
				<logger message="***********SuperMaster not exist**************"
					level="INFO" doc:name="SuperMaster not exist" />
				<set-payload value="#[datasetDataArrayList]" doc:name="Set Payload to datasetDataArrayList" />
				<json:object-to-json-transformer
					doc:name="ArrayList to JSON" />
				<logger message="**********Call Processor Calculate SuperMaster"
					level="INFO" doc:name="Call SuperMaster Processor" />

				<request-reply doc:name="Request-Reply" timeout="0">
				
					<jms:outbound-endpoint queue="rheticus.processor.ps.s0.request" connector-ref="Active_MQ" doc:name="ps.request S0" transformer-refs="Logstash-Properties S0-Properties"/>
					<jms:inbound-endpoint queue="rheticus.processor.ps.s0.reply" connector-ref="Active_MQ" doc:name="ps.reply S0">
						
					</jms:inbound-endpoint>
				</request-reply>
                <object-to-string-transformer doc:name="Object to String"/>
                <logger level="INFO" doc:name="S0 out" message="S0 out: #[payload]"/>
                <message-filter throwOnUnaccepted="true" doc:name="If not message_failed (else Exception!)">
                    <message-property-filter pattern="message_failed=null" caseSensitive="true" scope="inbound"/>

                </message-filter>
                <set-variable variableName="superMasterId" value="#[json:superMasterId]" doc:name="superMasterId"/>

                <set-payload value="{    &quot;doc&quot; : {        &quot;superMaster&quot; : true    }}" doc:name="Update SM value"/>
                <http:request config-ref="HTTP_Request_ES" path="${elasticsearch.sentinel.path}/#[superMasterId]/_update" method="POST" doc:name="ElasticSearch"/>
			</otherwise>
		</choice>
		<logger message="********superMasterId: #[superMasterId]"
			level="INFO" doc:name="superMasterId" />
		<logger message="*********Create Json for S1TB**********"
			level="INFO" doc:name="Create Json for S1TB" />
		<set-variable variableName="mapForS1TB" value="#[new java.util.HashMap()]"
			doc:name="mapForS1TB" />
		<expression-component doc:name="populate mapForS1TB"><![CDATA[mapForS1TB.put("datasetId", datasetId);
mapForS1TB.put("supermasterId", superMasterId);
mapForS1TB.put("swath", "IW1");
mapForS1TB.put("polarisation", "VV");
mapForS1TB.put("data", datasetDataArrayList);

]]></expression-component>
		<set-payload value="#[mapForS1TB]" doc:name="mapForS1TB" />
		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<logger message="******Call S1TB " level="INFO" doc:name="Call S1TB " />


		<request-reply doc:name="Request-Reply" timeout="0">
			<jms:outbound-endpoint queue="rheticus.processor.ps.s1.request" connector-ref="Active_MQ" doc:name="ps.request S1" transformer-refs="Logstash-Properties S1-Properties"/>
			<jms:inbound-endpoint queue="rheticus.processor.ps.s1.reply"	connector-ref="Active_MQ" doc:name="ps.reply S1" >
					
			</jms:inbound-endpoint>
		</request-reply>
		<message-filter throwOnUnaccepted="true" doc:name="If not message_failed (else Exception!)">
            <message-property-filter pattern="message_failed=null" caseSensitive="true" scope="inbound"/>

        </message-filter>
		<object-to-string-transformer doc:name="Object to String" />

		<logger message="S1TVB Request response:  #[payload]" level="INFO"
			doc:name="Result S1TB" />
		
		<logger message="******Call PSinSAR " level="INFO" doc:name="Call PSinSAR" />

		<request-reply doc:name="Request-Reply" timeout="0">
			<jms:outbound-endpoint queue="rheticus.processor.ps.s2.request" connector-ref="Active_MQ" doc:name="ps.request S2" transformer-refs="Logstash-Properties S2-Properties"/>
			<jms:inbound-endpoint queue="rheticus.processor.ps.s2.reply"	connector-ref="Active_MQ" doc:name="ps.reply S2" >
					
			</jms:inbound-endpoint>
		</request-reply>
		<message-filter throwOnUnaccepted="true" doc:name="If not message_failed (else Exception!)">
            <message-property-filter pattern="message_failed=null" caseSensitive="true" scope="inbound"/>

        </message-filter>
        <object-to-string-transformer doc:name="Object to String"/>


		<logger message="PSinSAR Request response:  #[payload]" level="INFO" doc:name="Result PSinSAR" />
        <set-variable variableName="outputFolder" value="#[payload]" doc:name="outputFolder"/>
        <component class="it.planetek.rheticus.mule.components.SftpFolderFilesRequester" doc:name="SftpFolderFilesRequester"/>

        <foreach doc:name="For Each">

            <logger message="Requester: #[message]" level="DEBUG" doc:name="Requester Msg"/>
            <set-variable variableName="fileName" value="#[message.inboundProperties['originalFilename']]" doc:name="fileName"/>
            <file:outbound-endpoint path="${import.shapefile.folder}" outputPattern="#[fileName]" responseTimeout="10000" doc:name="Download to import dir"/>
            <expression-filter expression="#[fileName.endsWith(&quot;.shp&quot;)]" doc:name="is .shp?"/>
            <set-variable variableName="shapefileName" value="#[fileName]" doc:name="shapefileName"/>
        </foreach>
		<component class="it.planetek.rheticus.mule.components.LauncherKettleJob" doc:name="Load shape through Geokettle"/>
        <logger message="Geokettle output: #[payload]" level="INFO" doc:name="Geokettle output"/>
        <logger message="END Orchestrator dp_ps" level="INFO" doc:name="End dp_ps"/>
	</sub-flow>
</mule>
