ESB/dp_ps/src/main/app/dp_ps_psinsar.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

	<http:request-config name="HTTP_Request_PSinSAR" host="${psinsar.host}" port="${psinsar.port}" basePath="${psinsar.path}" doc:name="HTTP Request PSinSAR start"/>
	    
    <flow name="dp_ps_psinsarFlow">
        <jms:inbound-endpoint queue="rheticus.processor.ps.s2.request" connector-ref="Active_MQ" doc:name="ps.request S2">
        
        </jms:inbound-endpoint>
        <logger message="PSinSAR received request" level="INFO" doc:name="PSinSAR received request"/>
        <logger message="PSinSAR received payload: #[payload]" level="DEBUG" doc:name="PSinSAR received payload"/>
        <copy-properties propertyName="*" doc:name="Copy Props"/>
        
        <set-variable variableName="jmsProperties" value="#[message.outboundProperties]" doc:name="save jmsProperties"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <until-successful maxRetries="5" synchronous="true" doc:name="Until Successful" millisBetweenRetries="10000">
            <http:request config-ref="HTTP_Request_PSinSAR" path="${psinsar.request}?USERNAME=${psinsar.usr}&amp;PASSWORD=${psinsar.pwd}&amp;NAME=PSinSar&amp;arguments=argsss" method="GET" doc:name="request start PSinSAR"/>
        </until-successful>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="STATUS AFTER START REQUEST: #[payload]" level="INFO" doc:name="Request returned Payload"/>
        <set-variable variableName="jobId" value="#[xpath3(&quot;//Job/JobsID/JobId&quot;)]" doc:name="jobId"/>
        <logger message="Request jobId: #[jobId]" level="INFO" doc:name="Request jobId"/>
        <set-variable variableName="jobStatus" value="" doc:name="jobStatus"/>
        <until-successful maxRetries="${psinsar.polling.retries}" synchronous="true" doc:name="Until Successful" failureExpression="#[!jobStatus.equals('done') &amp;&amp; !jobStatus.equals('error')]" millisBetweenRetries="${psinsar.polling.wait}">
            <processor-chain doc:name="Processor Chain">
                <http:request config-ref="HTTP_Request_PSinSAR" path="${psinsar.status}?USERNAME=${psinsar.usr}&amp;PASSWORD=${psinsar.pwd}&amp;IdJob=#[jobId]" method="GET" doc:name="request polling status PSinSAR">
                    <http:request-builder>
                    </http:request-builder>
                </http:request>
                <object-to-string-transformer doc:name="Object to String"/>
                <set-variable variableName="jobStatus" value="#[xpath3(&quot;//Jobs/Job/Status/text()&quot;)]" doc:name="jobStatus"/>
                <logger message="STATUS POLLING: #[payload]" level="INFO" doc:name="Polling payload"/>
                <logger message="Polling STATUS: #[jobStatus]" level="INFO" doc:name="Polling STATUS"/>
            </processor-chain>
        </until-successful>

        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="AFTER POLLING: #[payload]" level="INFO" doc:name="AFTER POLLING"/>
        <choice doc:name="Error or Done?">
            <when expression="jobStatus==&quot;done&quot;">
                <logger message="PSinSAR succedeed #[xpath3(&quot;//Jobs/Job/Output/text()&quot;)]" level="INFO" doc:name="Done"/>
                <set-payload value="#[xpath3(&quot;//Jobs/Job/Output/text()&quot;)]" doc:name="PS shape files FTP urls"/>

            </when>
            <otherwise>
                <set-property propertyName="message_failed" value="#[xpath3(&quot;//Jobs/Job/Output/text()&quot;)]" doc:name="Set message_failed"/>
                <logger message="PSinSAR failed, exc: #[xpath3(&quot;//Jobs/Job/Output/text()&quot;)]" level="ERROR" doc:name="PSinSAR failed"/>
            </otherwise>
        </choice>

        <logger message="PSinSAR end" level="INFO" doc:name="PSinSAR end"/>
        <logger message="PSinSAR end payload: #[payload]" level="DEBUG" doc:name="PSinSAR end payload"/>
        <scripting:component doc:name="Restore jmsProperties">
            <scripting:script engine="Groovy"><![CDATA[for( key in jmsProperties.keySet() )
{
   message.setOutboundProperty(key, jmsProperties.get(key))
}
result = payload]]></scripting:script>
        </scripting:component>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="PSinSAR flow exception: #[exception]" level="ERROR" doc:name="PsInSAR flow exception"/>
            <scripting:component doc:name="Restore jmsProperties">
                <scripting:script engine="Groovy"><![CDATA[for( key in jmsProperties.keySet() )
{
   message.setOutboundProperty(key, jmsProperties.get(key))
}
result = payload
]]></scripting:script>
            </scripting:component>
            <set-variable variableName="jmsReplyTo" value="#[message.outboundProperties[&quot;JMSReplyTo&quot;].getQueueName()]" doc:name="jmsReplyTo"/>
            <set-property propertyName="message_failed" value="#[exception.toString()]" doc:name="message_failed"/>
            <jms:outbound-endpoint queue="#[jmsReplyTo]" connector-ref="Active_MQ" doc:name="JMS"/>
        </catch-exception-strategy>


    </flow>
</mule>
