ESB/dp_ps/src/main/app/dp_ps_listener.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch-1.0.xsd">

	<elasticsearch:client id="esClient" esNodes="kim.planetek.it:9300" />
	
	<spring:beans>
		<spring:bean class="it.planetek.dfc.ShapefileImporterServiceImpl"
			id="importer">
			<spring:property name="writer" ref="esWriter" />
		</spring:bean>

		<spring:bean class="it.planetek.dfc.ElasticsearchJsonWriter"
			name="esWriter">
			<spring:property name="indexName" value="ps" />
			<spring:property name="indexType" value="point" />
		</spring:bean>
	</spring:beans>


	<flow name="dp_ps_listenerFlow1" doc:name="dp_ps_listenerFlow1">
		<file:inbound-endpoint responseTimeout="10000"
			doc:name="File" path="C:\Users\adminpk\Desktop\TEMP"/>
        <logger message="File: #[payload] #[&quot;\n&quot;] Msg: #[message]" level="INFO" doc:name="Logger"/>
        <component class="org.mule.transformers.ShapefileImporterComponent" doc:name="ShapefileImporter"/>
	</flow>
</mule>
