ESB/dp_ps/src/main/app/dp_ps_supermaster.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	
	<http:request-config name="HTTP_Request_SuperMaster"
		host="${supermaster.host}" port="${supermaster.port}" basePath="${supermaster.path}"
		doc:name="HTTP Request Configuration" />
	<flow name="dp_ps_supermasterFlow">
		<jms:inbound-endpoint queue="rheticus.processor.ps.s0.request"
			connector-ref="Active_MQ" doc:name="ps.request S0" />
        <logger message="SuperMaster received payload: #[payload]" level="INFO" doc:name="SuperMaster received payload"/>
        <copy-properties propertyName="*" doc:name="Copy Props"/>
		<set-variable variableName="jmsProperties" value="#[message.outboundProperties]"
			doc:name="save jmsProperties" />
		<until-successful maxRetries="${supermaster.polling.retries}" doc:name="Until Successful" failureExpression="#[!message.inboundProperties['http.status'].equals(200)]" millisBetweenRetries="${supermaster.polling.wait}" synchronous="true">
            <processor-chain doc:name="Processor Chain">
                <http:request config-ref="HTTP_Request_SuperMaster" path="/" method="POST" doc:name="Request SM"/>
                <logger message="SM HTTP return code: #[message.inboundProperties['http.status']]" level="INFO" doc:name="HTTP code"/>
            </processor-chain>
		</until-successful>
        <object-to-string-transformer doc:name="Object to String"/>
		<logger level="INFO" doc:name="SuperMaster end payload" message="SuperMaster end payload: #[payload]"/>
		<scripting:component doc:name="Restore jmsProperties">
			<scripting:script engine="Groovy"><![CDATA[for( key in jmsProperties.keySet() )
{
   message.setOutboundProperty(key, jmsProperties.get(key))
}
result = payload]]></scripting:script>
		</scripting:component>



		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<logger message="SuperMaster  flow exception: #[exception]" level="ERROR"
				doc:name="SuperMaster flow exception" />
			<scripting:component doc:name="Restore jmsProperties">
				<scripting:script engine="Groovy"><![CDATA[for( key in jmsProperties.keySet() )
{
   message.setOutboundProperty(key, jmsProperties.get(key))
}
result = payload
]]></scripting:script>
			</scripting:component>
			<set-variable variableName="jmsReplyTo"
				value="#[message.outboundProperties[&quot;JMSReplyTo&quot;].getQueueName()]"
				doc:name="jmsReplyTo" />
			<set-property propertyName="message_failed" value="#[exception.toString()]"
				doc:name="message_failed" />
			<jms:outbound-endpoint queue="#[jmsReplyTo]"
				connector-ref="Active_MQ" doc:name="JMS" />
		</catch-exception-strategy>

	</flow>
</mule>
