ESB/dp_ps/src/main/app/inizialize_custom_index.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="InizializeCustomIndexFlow1">
        <quartz:inbound-endpoint jobName="runAtStartup" repeatInterval="1" repeatCount="0" responseTimeout="10000" doc:name="Quartz">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <logger  level="INFO" doc:name="Try ES mapping" message="Trying to set ES ${elasticsearch.sentinel.index} index mapping"/>
        <set-payload value="{&quot;properties&quot;:{&quot;missionDataTakeId&quot;:{&quot;type&quot;:&quot;long&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;location&quot;:{&quot;type&quot;:&quot;geo_shape&quot;,&quot;tree&quot;:&quot;quadtree&quot;,&quot;precision&quot;:&quot;1m&quot;},&quot;superMaster&quot;:{&quot;type&quot;:&quot;boolean&quot;},&quot;orbitNumberTypeStop&quot;:{&quot;type&quot;:&quot;long&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;linkDownload&quot;:{&quot;type&quot;:&quot;string&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;familyName&quot;:{&quot;type&quot;:&quot;string&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;productClass&quot;:{&quot;type&quot;:&quot;string&quot;},&quot;sliceNumber&quot;:{&quot;type&quot;:&quot;long&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;relativeOrbitNumberTypeStop&quot;:{&quot;type&quot;:&quot;long&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;relativeOrbitNumberTypeStart&quot;:{&quot;type&quot;:&quot;long&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;mode&quot;:{&quot;type&quot;:&quot;string&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;productType&quot;:{&quot;type&quot;:&quot;string&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;stopTime&quot;:{&quot;type&quot;:&quot;date&quot;},&quot;startTime&quot;:{&quot;type&quot;:&quot;date&quot;},&quot;pass&quot;:{&quot;type&quot;:&quot;string&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;transmitterReceiverPolarisation&quot;:{&quot;type&quot;:&quot;string&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;ingestion&quot;:{&quot;type&quot;:&quot;date&quot;},&quot;datasetId&quot;:{&quot;type&quot;:&quot;string&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;orbitNumberTypeStart&quot;:{&quot;type&quot;:&quot;long&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;swath&quot;:{&quot;type&quot;:&quot;string&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;filename&quot;:{&quot;type&quot;:&quot;string&quot;,&quot;index&quot;:&quot;not_analyzed&quot;},&quot;uuid&quot;:{&quot;type&quot;:&quot;string&quot;,&quot;index&quot;:&quot;not_analyzed&quot;}}}" doc:name="Settings ES mapping"/>

        <http:request config-ref="HTTP_Request_ES" path="${elasticsearch.sen1custom.index}/_mapping/${elasticsearch.sen1custom.type}" method="PUT" doc:name="ElasticSearch" >
            <http:success-status-code-validator values="0..499"/>
        </http:request>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties[&quot;http.status&quot;]  == 200]">
                <logger message="ES mapping succeded." level="INFO" doc:name="ES mapping succeded."/>
            </when>
            <otherwise>
                <object-to-string-transformer doc:name="Object to String"/>
                <logger message="ES mapping failed (code: #[message.inboundProperties[&quot;http.status&quot;]]) with error: #[payload]" level="WARN" doc:name="ES mapping failed"/>
            </otherwise>
        </choice>

    </flow>
</mule>
