ESB/etl_lan8/src/main/app/landsat8Search.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"	xmlns:context="http://www.springframework.org/schema/context" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <spring:beans>
        <context:property-placeholder location="classpath:etl_lan8.properties" />
        <spring:bean id="etl_lan8Props"
            class="org.springframework.beans.factory.config.PropertiesFactoryBean">
            <spring:property name="singleton" value="true" />
            <spring:property name="location" value="classpath:etl_lan8.properties" />
        </spring:bean>
    </spring:beans>


    <flow name="landsat8SearchFlow1" doc:name="landsat8SearchFlow1" doc:description="{
&quot;acquisitionDateFrom&quot;:&quot;2015-01-01&quot;,
&quot;acquisitionDateTo&quot;:&quot;2015-08-31&quot;,
&quot;sceneCenterLatitudeFrom&quot;:&quot;39.9476478239225&quot;,
&quot;sceneCenterLatitudeTo&quot;:&quot;42.41940144722477&quot;,
&quot;sceneCenterLongitudeFrom&quot;:&quot;11.8212890625&quot;,
&quot;sceneCenterLongitudeTo&quot;:&quot;16.5069580078125&quot;,
&quot;limit&quot;:&quot;50&quot;
&quot;skip&quot;:&quot;0&quot;
}">
        <http:inbound-endpoint exchange-pattern="request-response" host="0.0.0.0" port="9091" doc:name="HTTP" path="zearch"/>
        
        <logger level="INFO" doc:name="Search into landsat8 catalog" message="Searching into landsat8 catalog. Post payload = #[System.getProperty('line.separator')] #[message.payloadAs(java.lang.String)]" />
        
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to HashMap"/>
        
        <logger level="INFO" doc:name="Log payload trasformed into HashMap" message="Log payload trasformed into HashMap = #[System.getProperty('line.separator')] #[payload]" />
        
        <component doc:name="landsat8HTTPSearch" class="it.planetek.rheticus.mule.components.landsat8.Landsat8HTTPSearch" />
        
        <!-- 
        <scripting:component doc:name="HTTP Status Check">
            <scripting:script engine="Groovy">
                <![CDATA[
                    httpStatus = message.getInboundProperty('http.status');
					if(httpStatus != 200 || httpStatus != 404)
						throw new org.apache.commons.httpclient.HttpException("Landsat8 DataHub returned an HTTP error code: " + httpStatus)
					return payload
                ]]>
            </scripting:script>
        </scripting:component>
         -->
        
        <logger level="INFO"  doc:name="HTTP 200 Code" message="From API Landsat8 catalog Code:  #[System.getProperty('line.separator')] #[message.inboundProperties['http.status']]" />
        <!-- 
        <logger level="INFO"  doc:name="HTTP 200 Body" message="From API Landsat8 catalog Body:  #[System.getProperty('line.separator')] #[message.payloadAs(java.lang.String)]" />
         -->
        
        <http:response-builder contentType="application/json" doc:name="HTTP Response Builder" status="#[message.inboundProperties['http.status']]" />
        
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy doc:name="Catch HttpException" enableNotifications="false" when="#[exception.causedBy( org.apache.commons.httpclient.HttpException)]">
                <logger message="HttpException: #[exception.getCause().getMessage()]" level="WARN" doc:name="Log HttpException"/>
                <http:response-builder status="500" contentType="text/plain" doc:name="HTTP Response Builder"/>
            </catch-exception-strategy>
            <catch-exception-strategy doc:name="Generic Exception Strategy">
                <logger level="WARN" doc:name="Log Generic Exception" message="Generic Exception: #[exception.getCause().getMessage()]"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
