ESB/etl_lan8/src/main/app/landsat8SearchAndIngestionWithPagination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
    <flow name="SearchAndIngestionWithPaginationFlow1" doc:name="SearchAndIngestionWithPaginationFlow1" doc:description="This flow let to search and download from Landsat8 catalog automatically">
    
        <http:inbound-endpoint exchange-pattern="one-way" host="0.0.0.0" port="9091" path="SearchAndIngestion" responseTimeout="4000000" doc:name="HTTP"/>
        
        <logger level="INFO" doc:name="Check new landsat8 acquisitions" message="Check for new landsat8 acquisitions ..."/>
        
        <component doc:name="landsat8ConfigureFlow" class="it.planetek.rheticus.mule.components.landsat8.Landsat8ConfigureFlow" />
        
        <logger level="INFO" doc:name="Log Configurated Payload " message="Configurated Payload = #[System.getProperty('line.separator')] #[message.payloadAs(java.lang.String)]" />
        
        <json:object-to-json-transformer doc:name="Convert payload in JSON"/>
        <set-variable variableName="originalPayloadJson" doc:name="originalPayloadJson" value="#[payload]" />
        
        <!-- 
        <set-variable variableName="parameterSearch" value="&quot;acquisitionDate1&quot;:&quot;2014-01-11&quot;, &quot;acquisitionDate2&quot;:&quot;2015-05-11&quot;,&quot;sceneCenterLatitude1&quot;:&quot;39.9476478239225&quot;,&quot;sceneCenterLatitude2&quot;:&quot;42.41940144722477&quot;,&quot;sceneCenterLongitude1&quot;:&quot;11.8212890625&quot;,&quot;sceneCenterLongitude2&quot;:&quot;16.5069580078125&quot;" doc:name="globalParameterSearch"/>
        <set-payload value="{&quot;startRows&quot;:&quot;0&quot;,&quot;acquisitionDate1&quot;:&quot;2014-01-11&quot;, &quot;acquisitionDate2&quot;:&quot;2015-05-11&quot;,&quot;sceneCenterLatitude1&quot;:&quot;39.9476478239225&quot;,&quot;sceneCenterLatitude2&quot;:&quot;42.41940144722477&quot;,&quot;sceneCenterLongitude1&quot;:&quot;11.8212890625&quot;,&quot;sceneCenterLongitude2&quot;:&quot;16.5069580078125&quot;}" doc:name="Set search parameter"/>
         -->
        
        <http:outbound-endpoint doc:name="Search Landsat8" exchange-pattern="request-response" host="localhost" port="9091" path="zearch" method="POST" responseTimeout="400000" />
        
        <set-variable variableName="total" doc:name="Set total" value="#[json:meta/results/total]" />
        <set-variable variableName="limit" doc:name="Set limit" value="#[json:meta/results/limit]" />
        <set-variable variableName="skip" doc:name="Set skip" value="0" />
        
        <choice doc:name="Choice">
            <when expression="#[Integer.parseInt(total)  &gt; 0]">
                <logger level="INFO" doc:name="New Acquisition Detected for landsat8 !" message="New Acquisitions Detected for landsat8 !!! (#[total] acquisitions)" />
                <flow-ref name="SearchAndIngestionWithPaginationFlow2" doc:name="Call loop flow"/>
                <!-- 
                 -->
            </when>
            <otherwise>
                <logger message="No new acquisitions for today... " level="INFO" doc:name="No new acquisitions"/>
            </otherwise>
        </choice>
    </flow>
    
    <flow name="SearchAndIngestionWithPaginationFlow2" doc:name="SearchAndIngestionWithPaginationFlow2">
        <logger message="*****************ENTER LOOP PAGINATION***********************" level="INFO" doc:name="enter loop"/>
        <logger message="***********Total: #[total] old skip: #[skip] limit: #[limit]" level="INFO" doc:name="Print Stage"/>
        
        <expression-component doc:name="Increment page"><![CDATA[skip = Integer.parseInt(skip) + Integer.parseInt(limit);]]></expression-component>
        
        <logger message="***********Total: #[total] new skip: #[skip] limit: #[limit]" level="INFO" doc:name="Print Stage"/>
        <logger message="Calling Ingestion metadata from Landsat8" level="INFO" doc:name="Ingestion from Landsat8"/>
        
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9091" path="ingestionMetadata" method="POST" responseTimeout="4000000" doc:name="Ingestion Landsat8"/>
        
        <choice doc:name="Choice">
            <when expression="#[Integer.parseInt(skip)&lt;Integer.parseInt(total)]">
                <logger message="Step completed... call next step" level="INFO" doc:name="Step Completed"/>
                
                <set-payload doc:name="Set Payload to orignal" value="#[originalPayloadJson]" />
                <json:json-to-object-transformer doc:name="JSON to Object" returnClass="java.util.HashMap"/>
                <component doc:name="Landsat8UpdatePayloadForPagination" class="it.planetek.rheticus.mule.components.landsat8.Landsat8UpdatePayloadForPagination" />
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                
                <!-- 
                <set-payload value="{&quot;startRows&quot;:&quot;#[skip]&quot;,#[parameterSearch]}" doc:name="Update Payload"/>
                <set-variable variableName="originalPayloadJson" doc:name="originalPayloadJson" value="#[payload]" />
                 -->
                
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9091" path="zearch" method="POST" doc:name="Search Landsat8" responseTimeout="400000" />
                
                <flow-ref name="SearchAndIngestionWithPaginationFlow2" doc:name="Recall myself"/>
            </when>
            <otherwise>
                <logger message="*****************DOWNLOAD landsat8 METADATA FINISHED***********************" level="INFO" doc:name="Download end"/>
            </otherwise>
        </choice>
    </flow>
</mule>
