ESB/etl_lan8/src/main/app/SearchDownloadPagination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
    <flow name="SearchDownloadPaginationFlow1" doc:name="SearchDownloadPaginationFlow1">
        <http:inbound-endpoint exchange-pattern="one-way" host="0.0.0.0" port="9091" path="SearchDownloadPagination" responseTimeout="4000000" doc:name="HTTP"/>
        <logger message="Checking new Landsat acquisitions..." level="INFO" doc:name="Checking"/>
        <set-variable variableName="parameterSearch" value="&quot;acquisitionDate1&quot;:&quot;2015-01-01&quot;, &quot;acquisitionDate2&quot;:&quot;2015-09-21&quot;,&quot;sceneCenterLatitude1&quot;:&quot;36.519283063025&quot;,&quot;sceneCenterLatitude2&quot;:&quot;47.272464907535&quot;,&quot;sceneCenterLongitude1&quot;:&quot;6.3496516561495&quot;,&quot;sceneCenterLongitude2&quot;:&quot;18.786175093649&quot;" doc:name="globalParameterSearch"/>
        <set-payload value="{&quot;startRows&quot;:&quot;0&quot;,&quot;acquisitionDate1&quot;:&quot;2015-01-01&quot;, &quot;acquisitionDate2&quot;:&quot;2015-09-21&quot;,&quot;sceneCenterLatitude1&quot;:&quot;36.519283063025&quot;,&quot;sceneCenterLatitude2&quot;:&quot;47.272464907535&quot;,&quot;sceneCenterLongitude1&quot;:&quot;6.3496516561495&quot;,&quot;sceneCenterLongitude2&quot;:&quot;18.786175093649&quot;}" doc:name="Set search parameter"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9091" path="zearch" method="POST" responseTimeout="400000" doc:name="Search Landsat8"/>
        <set-variable variableName="resSize" value="#[json:meta/results/total]" doc:name="Set resSize"/>
        <set-variable variableName="skip" value="0" doc:name="skip"/>
        <choice doc:name="Choice">
            <when expression="#[Integer.parseInt(resSize)  &gt; 0]">
                <logger message="New Acquisitions Detected!!! (#[resSize] acquisitions)" level="INFO" doc:name="New Acquisition Detected!"/>
                <flow-ref name="SearchDownloadPaginationFlow2" doc:name="Call loop flow"/>
            </when>
            <otherwise>
                <logger message="No new acquisitions for today... " level="INFO" doc:name="No new acquisitions"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="SearchDownloadPaginationFlow2" doc:name="SearchDownloadPaginationFlow2">
        <logger message="*****************ENTER LOOP***********************" level="INFO" doc:name="enter loop"/>
        <expression-component doc:name="Increment page"><![CDATA[skip=Integer.parseInt(skip)+50;]]></expression-component>
        <logger message="***********Total: #[resSize] skip: #[skip]" level="INFO" doc:name="Print Stage"/>
        <logger message="Calling Ingestion  from Landsat8" level="INFO" doc:name="Ingestion from Landsat8"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9091" path="download" method="POST" responseTimeout="4000000" doc:name="Ingestion Landsat8"/>
        <choice doc:name="Choice">
            <when expression="#[Integer.parseInt(skip)&lt;Integer.parseInt(resSize)]">
                <logger message="Step completed... call next step" level="INFO" doc:name="Step Completed"/>
                <set-payload value="{&quot;startRows&quot;:&quot;#[skip]&quot;,#[parameterSearch]}" doc:name="Update Payload"/>
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9091" path="zearch" method="POST" doc:name="Search Landsat8"/>
                <logger message="search next **********************************" level="INFO" doc:name="Logger"/>
                <flow-ref name="SearchDownloadPaginationFlow2" doc:name="Recall myself"/>
            </when>
            <otherwise>
                <logger message="Download finished, generating Report" level="INFO" doc:name="Generating Report"/>
            </otherwise>
        </choice>
    </flow>
</mule>
