ESB/muleMail/src/main/app/mailtest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:imap="http://www.mulesoft.org/schema/mule/imap" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/current/mule-imap.xsd
http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/current/mule-imaps.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <imap:connector name="IMAP" validateConnections="true" deleteReadMessages="false" checkFrequency="2000" doc:name="IMAP" mailboxFolder="Inbox">
        <reconnect-forever/>
    </imap:connector>
    <flow name="mailtestFlow1" doc:name="mailtestFlow1">
        <imaps:inbound-endpoint host="imap.planetek.it" port="993" user="pklinee" password="pkt248"  responseTimeout="10000"  doc:name="IMAP" mimeType="text/plain"/>
        <set-variable variableName="activitiParams" value="#[groovy: if(message.getInboundProperty('subject').startsWith(&quot;{&quot;)) {message.getInboundProperty('subject').toString()} else { &quot;{&quot; + message.getInboundProperty('subject').toString().tokenize('{').get(1)}]" doc:name="ActivitiParams"/>
        <set-payload value="#[activitiParams]" doc:name="Set Payload"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="activitiExecutionID" value="#[payload.get('activitiExecID')]" doc:name="setActivitiExecutionID"/>
        <set-variable variableName="msg" value="#[payload.get('msg')]" doc:name="setMsg"/>
        <set-payload value="{&quot;muleOutput&quot;: &quot;#[msg]&quot;}" doc:name="Set Payload"/>
        <message-properties-transformer doc:name="Message Properties">
		  <add-message-property key="Authorization" value="Basic a2VybWl0Omtlcm1pdA=="/>
		</message-properties-transformer>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9080" path="activiti-rest/service/process-instance/#[activitiExecutionID]/event/muleSignal" method="POST" user="kermit" password="kermit" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
