ESB/etl_sen/src/main/app/EsToJsonGrouping.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd" >
    <http:listener-config name="entryPoint" host="0.0.0.0" port="9090" doc:name="HTTP Listener Configuration"/>
    <flow name="EsToJsonGroupingFlow1" doc:description="Get full Product From ElasticSearch and create a json file" >
        <http:listener config-ref="entryPoint" path="/EsToJson" doc:name="HTTP"/>

        <set-payload value="{  &quot;size&quot;: 0,  &quot;aggs&quot;: {    &quot;group_by_dataset&quot;: {      &quot;terms&quot;: {        &quot;field&quot;: &quot;datasetId&quot;,        &quot;size&quot;: 20000}}}}" doc:name="Request grouping"/>
        <http:request config-ref="searchElastic" path="/" method="POST" doc:name="ElasticSearch"/>

        <set-variable variableName="total" value="#[json:hits/total]" doc:name="total"/>
        <logger message="&quot;total&quot;: #[total]" level="INFO" doc:name="total res"/>
        <set-payload value="#[json:aggregations/group_by_dataset/buckets]" doc:name="select buckets"/>
        <set-variable variableName="report" value="{  &quot;total&quot;: #[total], #[&quot;\n&quot;] &quot;data&quot;: [ #[&quot;\n&quot;]" doc:name="report"/>
        <foreach doc:name="For Each" counterVariableName="forCounter">
            <choice doc:name="Choice">
                <when expression="#[forCounter != 1]">
                    <expression-component doc:name="Expression"><![CDATA[report += ", \n"]]></expression-component>
                </when>
                <otherwise>
                    <logger message="first no comma" level="INFO" doc:name="Logger"/>
                </otherwise>
            </choice>
            <set-variable variableName="datasetId" value="#[json:key]" doc:name="datasetId"/>
            <set-variable variableName="count" value="#[json:doc_count]" doc:name="count"/>
            <set-payload value="{&quot;size&quot;: 20000,&quot;query&quot;: {&quot;bool&quot;: {&quot;must&quot;: [{ &quot;match&quot;: { &quot;datasetId&quot;:  &quot;#[json:key]&quot; }}]}}}" doc:name="request a Id"/>
            <http:request config-ref="searchElastic" path="/" method="POST" doc:name="ElasticSearch"/>

            <object-to-string-transformer doc:name="Object to String"/>
            <set-payload value="{&quot;datasetID&quot;:&quot;#[datasetID]&quot;, &quot;cardinality&quot;: #[count], &quot;data&quot;: #[json:hits/hits]}" doc:name="OutputRequest"/>
            <scripting:component doc:name="prettyPrint">
                <scripting:script engine="Groovy"><![CDATA[import static groovy.json.JsonOutput.*;
return prettyPrint(payload);]]></scripting:script>
            </scripting:component>
            <expression-component doc:name="append to report"><![CDATA[report =+ payload]]></expression-component>
            <logger message="#[datasetID]: #[&quot;\n&quot;] #[payload]" level="INFO" doc:name="Logger"/>
        </foreach>
        <expression-component doc:name="Expression"><![CDATA[report += "]\n}"]]></expression-component>
        <set-payload value="#[report]" doc:name="Set Payload as Report"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <file:outbound-endpoint path="C:\Users\adminpk\Desktop" outputPattern="report.txt" responseTimeout="10000" doc:name="File"/>

        <set-payload value="Report salvato" doc:name="Set Payload"/>


    </flow>
</mule>
