ESB/etl_sen/src/main/app/SearchDownloadPagination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
    <flow name="SearchDownloadPaginationFlow1" doc:name="SearchDownloadPaginationFlow1">
        <http:inbound-endpoint exchange-pattern="one-way" host="0.0.0.0" port="9090" path="SearchDownloadPagination" responseTimeout="4000000" doc:name="HTTP"/>
        <logger message="Checking new Sentinel acquisitions..." level="INFO" doc:name="Checking acquisitions"/>

        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9090" path="zearch" method="POST" responseTimeout="400000" doc:name="Search Sentinel"/>
        <set-variable variableName="resSize" value="#[json:feed/'opensearch:totalResults']" doc:name="Set resSize"/>
        <choice doc:name="Choice">
            <when expression="#[Integer.parseInt(resSize)  &gt; 0]">
                <logger message="New Acquisitions Detected!!! (#[resSize] acquisitions)" level="INFO" doc:name="New Acquisition Detected!"/>
                <set-variable variableName="GlobalVarOutput" value="#[new java.util.ArrayList()]" doc:name="GlobalVarOutput"/>
                <flow-ref name="SearchDownloadPaginationFlow2" doc:name="Call loop flow"/>
            </when>
            <otherwise>
                <logger message="No new acquisitions for today... " level="INFO" doc:name="No new acquisitions"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="SearchDownloadPaginationFlow2" doc:name="SearchDownloadPaginationFlow2">
        <logger message="*****************ENTER LOOP***********************" level="INFO" doc:name="enter loop"/>
        <set-variable variableName="next" value="#[json:feed/link[2]/rel]" doc:name="First Link Name"/>
        <set-variable variableName="next2" value="#[json:feed/link[3]/rel]" doc:name="Second Link Name"/>
        <logger message="********************************** #[next] #[next2]" level="INFO" doc:name="Links Name"/>
        <choice doc:name="Choice">
            <when expression="#[next.equals('next') || next2.equals('next')]">
                <choice doc:name="Choice">
                    <when expression="#[next.equals('next')]">
                        <set-variable variableName="linkNext" value="#[json:feed/link[2]/href]" doc:name="First Link"/>
                    </when>
                    <otherwise>
                        <set-variable variableName="linkNext" value="#[json:feed/link[3]/href]" doc:name="Second Link"/>
                    </otherwise>
                </choice>
                <set-variable variableName="querystr" value="&quot;&quot;" doc:name="querystr"/>
                <expression-component doc:name="Parse Link String"><![CDATA[import java.net.URL;

URL aURL = new URL(linkNext.toString());
querystr=aURL.getQuery().substring(2).replaceAll(" ", "+")+"&format=json";]]></expression-component>
                <logger message="+++++++++++++++++++++++++#[querystr]" level="INFO" doc:name="Log Querystr"/>
                <logger message="Calling Download from Sentinel" level="INFO" doc:name="Download from Sentinel"/>
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9090" path="download" method="POST" responseTimeout="4000000" doc:name="Download Sentinel "/>
                <json:json-to-object-transformer returnClass="java.util.ArrayList" doc:name="JSON to Object"/>
                <expression-component doc:name="Add Payload to GlobalVar"><![CDATA[GlobalVarOutput.addAll(payload);]]></expression-component>
                <logger message="Step completed... call next step" level="INFO" doc:name="Step Completed. Next Page Search"/>
                <component class="org.mule.transformers.sentinelHTTPSearch" doc:name="sentinelHTTPSearch"/>
                <logger message="search next **********************************" level="INFO" doc:name="call flow loop"/>
                <flow-ref name="SearchDownloadPaginationFlow2" doc:name="loop to myself"/>
            </when>
            <otherwise>
                <logger message="Calling Download from Sentinel" level="INFO" doc:name="Download from Sentinel"/>
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9090" path="download" method="POST" responseTimeout="4000000" doc:name="Download Sentinel "/>
                <json:json-to-object-transformer doc:name="JSON to Object" returnClass="java.util.ArrayList"/>
                <expression-component doc:name="Add last payload to GlobalVar"><![CDATA[GlobalVarOutput.addAll(payload);]]></expression-component>
                <logger message="Download finished, generating KML" level="INFO" doc:name="Generating Report"/>
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9090" path="tokml" method="POST" doc:name="Call Flow tokml" responseTimeout="4000000"/>
                <set-payload value="#[GlobalVarOutput]" doc:name="Set Payload as GlobalVar"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <scripting:component doc:name="Groovy">
                    <scripting:script engine="Groovy"><![CDATA[import static groovy.json.JsonOutput.*;
return prettyPrint(payload);]]></scripting:script>
                </scripting:component>
                <file:outbound-endpoint path="C:\Users\adminpk\Desktop\Download" outputPattern="totaldownload.txt" responseTimeout="10000" doc:name="File"/>
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9093" path="ps" method="POST" doc:name="Call PS processor"/>
            </otherwise>
        </choice>
    </flow>
</mule>
