ESB/etl_sen/src/main/app/sentinelMainDownload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"  xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:https="http://www.mulesoft.org/schema/mule/https"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:context="http://www.springframework.org/schema/context"
	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd" version="CE-3.4.0">

    
    
	<!-- Hide MULE Headers in the HTTP packets -->
	<http:connector name="NoMuleHeadersConnector" doc:name="HTTP\HTTPS">
		<service-overrides sessionHandler="org.mule.session.NullSessionHandler" />
	</http:connector>
	<queued-asynchronous-processing-strategy
		name="Queued_Asynchronous_Processing_Strategy" maxThreads="3"
		poolExhaustedAction="WAIT"
		doc:name="Queued Asynchronous Processing Strategy" />
	<ftp:connector name="createPathFtpConnector" doc:name="FTP">
		<dispatcher-threading-profile
			doThreading="false" />
		<service-overrides
			dispatcherFactory="org.mule.transport.customftp.CreatePathFtpMessageDispatcherFactory"></service-overrides>
	</ftp:connector>
    <http:endpoint exchange-pattern="request-response" host="localhost" port="9090" path="startupdate" method="GET" name="HTTP" doc:name="HTTP"/>
    <http:endpoint exchange-pattern="request-response" host="localhost" port="9090" path="startupdate" method="GET" name="HTTP1" doc:name="HTTP"/>
    <choice-exception-strategy name="Choice_Exception_Strategy">
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="****************Generic Exception****************" level="WARN" doc:name="Generic Exception"/>
            <set-payload value="#[savePayload]" doc:name="savePayload"/>
            <flow-ref name="sentinelDownloadFlow1" doc:name="Call Download Flow"/>
        </catch-exception-strategy>
    </choice-exception-strategy>
 
    
    <flow name="sentinelDownloadFlow1"  doc:description="SLC 1.7gb
{
&quot;UUID&quot;:&quot;3016488c-721f-451a-b2a0-2a8602334ee2&quot;
}

GRD 130mb
{
&quot;UUID&quot;:&quot;f40e9bac-7046-42a5-aaff-4690aaf1bd60&quot;
}" processingStrategy="synchronous" doc:name="sentinelDownloadFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="0.0.0.0" port="9090" path="download" doc:name="HTTP" responseTimeout="4000000"/>
        <set-variable variableName="savePayload" value="#[payload]" doc:name="savePayload"/>
        <set-payload value="#[json:feed/entry]" doc:name="Filter entry payload"/>
        <set-variable variableName="arrayListData" value="#[new java.util.ArrayList()]" doc:name="arrayListData"/>
        <foreach doc:name="For Each">
            <set-variable variableName="id" value="#[json:id]" doc:name="id"/>
            <set-variable variableName="title" value="#[json:title]" doc:name="title"/>
            <set-variable variableName="link" value="#[json:link[0]/href]" doc:name="link"/>
            <set-variable variableName="ingestion" value="#[json:date[2]/content]" doc:name="ingestion"/>
            <logger message="#[id]#[title]#[payload]" level="INFO" doc:name="id&amp; title"/>
            <https:outbound-endpoint exchange-pattern="request-response" host="${sentinel.host}" port="${sentinel.port}" path="${sentinel.path.odata}('#[id]')/Nodes('#[title].SAFE')/Nodes('manifest.safe')/$value" method="GET" responseTimeout="400000" user="${sentinel.usr}" password="${sentinel.pwd}" doc:name="Manifest request (Deprecated)"/>
            <logger message="Manifest download request " level="INFO" doc:name="Download manifest"/>
            <flow-ref name="xmlTransformerFlow1" doc:name="XML transform Flow"/>


            <set-variable variableName="metaCoordinateLat" value="0.0" doc:name="metaCoordinateLat"/>
            <set-variable variableName="metaCoordinateLon" value="0.0" doc:name="metaCoordinateLon"/>
            <expression-component doc:name="Popolate qryableMap"><![CDATA[import java.lang.Math;
Double CoordinateLon;
Double CoordinateLat;
qryableMap.put('uuid',id);
qryableMap.put('filename',title);
qryableMap.put('linkDownload',link);
qryableMap.put('superMaster','false');
java.util.HashMap location = new java.util.HashMap();
location.put('type' , 'Polygon');
java.util.ArrayList coordinatefinal = new java.util.ArrayList();
java.util.ArrayList coordinate = new java.util.ArrayList();
java.util.ArrayList coordinate2 = new java.util.ArrayList();
java.util.ArrayList coordinate3 = new java.util.ArrayList();
java.util.StringTokenizer tokenizerCoordinates = new java.util.StringTokenizer(coordinates," ");
int i =0;
int j=0;
while ((java.lang.Boolean)tokenizerCoordinates.hasMoreTokens())
{
	java.util.StringTokenizer pointCoordinate = new java.util.StringTokenizer(tokenizerCoordinates.nextToken(),",");
	CoordinateLat=(Double.parseDouble(pointCoordinate.nextToken()));
	CoordinateLon=(Double.parseDouble(pointCoordinate.nextToken()));
    if (j==0)
    {
		metaCoordinateLon=(Math.round(CoordinateLon)) ;
		metaCoordinateLat=(Math.round(CoordinateLat*10.0))/10.0 ;
        j++;
	}
	
	
	coordinate2.add(CoordinateLon);
	coordinate2.add(CoordinateLat);
	if (i==0)
	{
		coordinate3 = coordinate2;
	}
	coordinate.add(coordinate2);
	coordinate2=new java.util.ArrayList();
	i++;
}
coordinate.add(coordinate3);
coordinatefinal.add(coordinate);
location.put('coordinates' , coordinatefinal);
qryableMap.put('location',location);
qryableMap.put('ingestion',ingestion);



String dataset = familyName+mode+swath+relativeOrbitNumberTypeStart+relativeOrbitNumberTypeStop+pass+transmitterReceiverPolarisation1+transmitterReceiverPolarisation2+productClass+productType+metaCoordinateLon+metaCoordinateLat;

qryableMap.put('datasetId',dataset);


]]></expression-component>
            <logger message="***** LON #[metaCoordinateLon] ***LAT: #[metaCoordinateLat]" level="INFO" doc:name="metacoordinate"/>

            <set-payload value="#[qryableMap]" doc:name="qryableMap"/>
            <expression-component doc:name="Add qryableMap to arraylist"><![CDATA[arrayListData.add(qryableMap);]]></expression-component>


            <json:object-to-json-transformer doc:name="Object to JSON"/>

            <http:outbound-endpoint exchange-pattern="request-response" host="${elastic.host}" port="${elastic.port}" path="${elastic.index}/${elastic.type}/#[id]" method="POST" doc:name="Insert in ElasticSearch" responseTimeout="1000000"/>
        </foreach>
        <set-payload value="#[arrayListData]" doc:name="arrayListData"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>



    </flow>
</mule>
