ESB/etl_sen/src/main/app/sentinelsearchdownload2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
    <http:endpoint exchange-pattern="request-response" host="localhost" port="9090" path="startupdate" method="GET" name="UpdateCycle" doc:name="HTTP"/>
    <flow name="sentinelSearchDownload2Flow1" doc:name="sentinelSearchDownload2Flow1" doc:description="This flow let to search and download from Sentinel automatically. And it start at the fist of every month.">
        <http:inbound-endpoint exchange-pattern="request-response" host="0.0.0.0" port="9090" path="startupdate" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Checking..." message="Checking new Sentinel acquisitions..."/>
        <set-payload value="{ &quot;startRows&quot;:&quot;0&quot;,&quot;type&quot;:&quot;SLC&quot;, &quot;startDate&quot;:&quot;NOW-2MONTHS&quot;, &quot;endDate&quot;:&quot;NOW-1MONTH&quot;,&quot;AOI&quot;:&quot;POLYGON((13.95 40.8, 14.23 40.8, 14.23 41.1, 13.95 41.1, 13.95 40.8))&quot; }" doc:name="Search Body Req"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9090" method="POST" doc:name="Search Sentinel" path="zearch" responseTimeout="300000"/>
        <set-variable variableName="resSize" value="#[json:feed/'opensearch:totalResults']" doc:name="set resSize"/>
        <choice doc:name="Choice">
            <when expression="#[Integer.parseInt(resSize)  &gt; 0]">
                <logger message="New Acquisitions Detected!!! (#[resSize] acquisitions)" level="INFO" doc:name="New Acquisition Detected!"/>
                <logger message="Calling Download from Sentinel..." level="INFO" doc:name="Calling Download Sentinel"/>
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9090" path="download" method="POST" doc:name="Download Sentinel " responseTimeout="400000"/>
                <logger message="Download finished... Call PS processor" level="INFO" doc:name="Status "/>
                <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="9091" path="ps" method="POST" doc:name="Call PS processor"/>
            </when>
            <otherwise>
                <logger message="No new acquisitions for today... " level="INFO" doc:name="No new acquisitions"/>
            </otherwise>
        </choice>
    </flow>
</mule>