ESB/etl_sen/src/main/app/xmlTransformer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

	<flow name="xmlTransformerFlow1"  processingStrategy="synchronous">
        <logger message="Called XMLTransformer flow" level="INFO" doc:name="START"/>
        <mulexml:xml-to-dom-transformer returnClass="org.w3c.dom.Document" doc:name="XML to DOM"/>
        <set-variable variableName="sentinelDom" value="#[payload]" doc:name="save XML to sentinelDom var"/>
        <set-variable variableName="qryableMap" value="#[new java.util.HashMap()]" doc:name="set qryableMap"/>

        <foreach collection="#[app.registry.sentinelProps]" doc:name="For Each sentinelProps">
            <choice doc:name="Choice">
                <when expression="#[key.startsWith(&quot;sentinel.metadata&quot;)]">
                    <logger message="Sentinel metadata xpath prop found: #[key] = #[payload]" level="INFO" doc:name="Sentinel.metadata prop"/>
                    <scripting:component doc:name="Props XPath evaluator">
                        <scripting:script engine="Groovy"><![CDATA[import javax.xml.xpath.XPath;
import javax.xml.xpath.XPathFactory;
import javax.xml.namespace.NamespaceContext
import org.w3c.dom.Document;

Document doc= sentinelDom;

XPath xpath = XPathFactory.newInstance().newXPath();
xpath.setNamespaceContext(new NamespaceContext() {
    @Override
    public String getNamespaceURI(String prefix) {
    
    if (doc.lookupNamespaceURI(prefix)!=null )
    {
	    return doc.lookupNamespaceURI(prefix);
    }
    else if (prefix.equals('safe'))
    {
		return "http://www.esa.int/safe/sentinel-1.0";
    }
    else if (prefix.equals('gml'))
    {
		return "http://www.opengis.net/gml";
    }
    else if (prefix.equals('s1sarl1') )
    {
		return "http://www.esa.int/safe/sentinel-1.0/sentinel-1/sar";
    }
    
        
    }
        
    @Override
    public Iterator<?> getPrefixes(String arg0) {
        return null;
    }
    @Override
    public String getPrefix(String arg0) {
        return null;
    }
});


return xpath.evaluate(payload,sentinelDom)]]></scripting:script>
                    </scripting:component>
                    <set-variable variableName="varName" value="#[key.replace(&quot;sentinel.metadata.&quot;,&quot;&quot;)]" doc:name="set varName"/>
                    <set-variable variableName="#[varName]" value="#[payload]" doc:name="set extracted value var"/>
                    <logger message="#[varName] value extracted: #[flowVars[varName]]" level="INFO" doc:name="XML extracted value"/>
                    <expression-component doc:name="add MD to qryableMap"><![CDATA[qryableMap.put(varName, flowVars[varName]);]]></expression-component>


                </when>
                <otherwise>
                    <logger message="Other prop found ( #[key] discarded)" level="DEBUG" doc:name="Other Prop (discard)"/>
                </otherwise>
            </choice>
        </foreach>

        <logger message="Templated Parsed!" level="INFO" doc:name="DONE"/>

    </flow>
</mule>
